.base-btn {
	display: inline-block;
	span {
		position: relative;
		display: block;
	}
	&__type1 span {
		background: #000;
		border: 1px solid #000;
		color: #fff;
	}
	&__type2 span {
		background: #fff;
		border: 1px solid #dbdbdb;
		color: #000;
	}
	&__type3 span {
		background: #fff;
		border: 1px solid #a6b7eb;
		color: #5976ce;
	}
	&__size {
		&-xs {
			padding: 6px 7px 2px;
			font-size: 14px;
			line-height: 1;
			border-radius: 24px;
		}
		&-s {
			padding: 6px 12px 3px;
			border-radius: 32px;
		}
		&-m {
			padding: 10px 16px 8px;
			font-size: 14px;
			line-height: 20px;
			border-radius: 40px;
		}
		&-l {
			padding: 13px 20px 9px;
			font-size: 16px;
			border-radius: 48px;
		}
	}
	&__type1:disabled span {
		background: #bbb;
		border-color: #bbb;
		color:rgba(255, 255, 255, 0.5);
	}
	&__type2:disabled span {
		border-color: #dbdbdb;
		color: #bbb;
	}
}

.base-input-file {
	display: inline-block;
	position: relative;
	vertical-align: top;
	input[type="file"] {
		@include pos($p: absolute, $t: 0, $l: 0);
		width: 100%; height: 100%;
		opacity: 0;
	}
	span {
		display: block;
		width: 32px; height: 32px;
		// background: url('~@/assets/images/icon-upload.png') no-repeat 50% 50%;
		// background-size: 20px;
		border: 1px solid #dbdbdb;
		border-radius: 50%;
		box-sizing: border-box;
		font-size: 0
	}
}

.base-chk {
	display: inline-block;
	position: relative;
	cursor: pointer;
	input {
		@include pos($p: absolute, $z: -1);
		opacity: 0;
	}
	> span {
		display: inline-block;
		&:before {
			content: "";
			display: inline-block;
			width: 25px; height: 25px;
			margin-right: 16px;
			// background: url('~@/assets/images/icon-check.png') no-repeat -100% 0;
			// background-size: auto 25px;
			border: 1px solid #bbb;
			vertical-align: middle;
		}
		&.hide {
			line-height: 1;
			&:before {margin: 0;}
			span {font-size: 0;}
		}
	}
	input[type="radio"] {
		~ span {
			&:before {
				border-radius: 50%;
				background-position-x: -25px;
			}
		}
		&:checked ~ span:before {
			background-color: #000;
			border-color: transparent;
		}
	}
	input[type="checkbox"] {
		&:checked ~ span:before {
			background-color: #000;
			background-position-x: 0;
			border-color: transparent;
		}
	}
	&.type2 {
		input[type="checkbox"] {
			~ span:before {
				background-position-x: -50px;
				border: 0;
			}
			&:checked ~ span:before {
				background-color: transparent;
				background-position-x: -75px;
			}
		}
	}
	&.type3 {
		input[type="checkbox"] {
			~ span:before {
				width: 22px; height: 22px;
				background-color: #fff;
				background-position-x: -101px;
				border: 2px solid #ebebeb;
				border-radius: 50%;
			}
			&:checked ~ span:before {
				background-position-x: -126px;
				border-color: #000;
			}
		}
	}
}
input[type="checkbox"].base-chk {
	position: relative;
	display: inline-block;
	width: 25px; height: 25px;
	margin: 0;
	vertical-align: middle;
	box-sizing: border-box;
	&:before {
		content:"";
		display: block;
		width: 100%; height: 100%;
		// background: url('~@/assets/images/icon-check.png') no-repeat;
		// background-size: auto 25px;
		border: 1px solid #bbb;
	}
	&:checked:before {
		background-color: #000;
		border-color: transparent;
	}
	&.type2 {
		&:before {
			background-position-x: -50px;
			border: 0;
		}
		&:checked:before {
			background-color: transparent;
			background-position-x: -75px;
		}
	}
	&.type3 {
		&:before {
			width: 22px; height: 22px;
			background-color: #fff;
			background-position-x: -101px;
			border: 2px solid #ebebeb;
			border-radius: 50%;
		}
		&:checked:before {
			background-position-x: -126px;
			border-color: #000;
		}
	}
}

.base-toggle {
	display: inline-block;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	input {
		@include pos($p: absolute, $z: -1);
		opacity: 0;
		&:checked ~ span {
			&:before {background: #000;}
			&:after {
				left: calc(100% - 24px);
			}
		}
	}
	> span {
		position: relative;
		display: inline-block;
		width: 48px; height: 24px;
		font-size: 0;
		vertical-align: top;
		&:before {
			content: "";
			@include pos($p: absolute, $t: 2px, $r: 4px, $b: 2px, $l: 4px);
			background: #bbb;
			border-radius: 20px;
			transition: background .3s;
		}
		&:after {
			content: "";
			@include pos($p: absolute, $t: 0, $l: 0);
			width: 24px; height: 24px;
			background: #fff;
			border: 1px solid #999;
			border-radius: 50%;
			box-sizing: border-box;
			transition: left .3s;
		}
	}
}

.base-datepicker {
	&__btn {
		display: flex;
		width: 100%;
		text-align: left;
		align-items: center;
		span {
			flex: 1;
			padding: 10px 0 7px;
			border-bottom: 1px solid #999;
			font-size: 14px;
			color: #999;
			&:before {
				content: "";
				display: inline-block;
				width: 20px; height: 20px;
				margin-right: 10px;
				// background: url('~@/assets/images/icon-cal.png') no-repeat;
				// background-size: auto 20px;
				vertical-align: -4px;
			}
			&.tilde {
				flex: 0;
				margin: 0 12px;
				color: #000;
				font-size: 14px;
				text-align: center;
				border: 0;
				&:before {display: none;}
			}
		}
		&.on span {
			border-color: #000;
			color: #000;
		}
		&:disabled span {
			border-color: #ebebeb;
			color: #bbb;
			&:before {
				opacity: 0.5;
			}
		}
	}
	&.type2 {
		display: inline-block;
		position: relative;
		padding: 0 36px;
	}
	&.type2 &__btn {
		flex: 0;
		span {
			padding: 1px 0 0;
			border: 0;
			font-size: 16px;
			vertical-align: middle;
			&:before {display: none;}
			&.tilde {
				width: auto;
				margin: 0 4px;
				font-size: 16px;
				vertical-align: middle;
			}
		}
	}
	.btn-prev,
	.btn-next {
		@include pos($p: absolute, $t: 1px);
		font-size: 0;
		border: 1px solid #dbdbdb;
		border-radius: 6px;
		&:before {
			content: "";
			display: inline-block;
			width: 20px; height: 20px;
			// background: url('~@/assets/images/icon-cal.png') no-repeat -40px 0;
			// background-size: auto 20px;
		}
		&:disabled {opacity: .5;}
	}
	.btn-prev {
		left: 0;
	}
	.btn-next {
		transform: rotate(180deg);
		right: 0;
	}
}

.base-select {
	position: relative;
	display: block;
	&.type1 {
		&.on {
			.base-select__btn {
				border-color: #000;
				color: #000;
			}
		}
		.base-select {
			&__btn {
				width: 100%;
				border-bottom: 1px solid #999;
				text-align: left;
				color: #999;
				span {
					display: block;
					position: relative;
					padding: 10px 40px 10px 0;
					line-height: 20px;
					&:after {
						content: "";
						@include pos($p: absolute, $t: 50%, $r: 0);
						width: 20px; height: 20px;
						margin-top: -10px;
						// background: url('~@/assets/images/icon-base_select.png') no-repeat;
						// background-size: cover;
						transition: transform .3s;
					}
				}
				&[aria-expanded="true"] span:after {
					transform: rotate(180deg);
				}
			}
		}
	}
	&.type2 {
		display: inline-block;
		&.on {
			.base-select__btn {
				color: #000;
			}
		}
		.base-select {
			&__btn {
				width: 100%;
				border: 1px solid #dbdbdb;
				border-radius: 32px;
				text-align: left;
				color: #000;
				font-size: 12px;
				span {
					display: block;
					position: relative;
					padding: 7px 24px 5px 8px;
					line-height: 18px;
					&:after {
						content: "";
						@include pos($p: absolute, $t: 50%, $r: 7px);
						width: 16px; height: 16px;
						margin-top: -8px;
						// background: url('~@/assets/images/icon-base_select-type2.png') no-repeat;
						// background-size: cover;
						transition: transform .3s;
					}
				}
				&[aria-expanded="true"] span:after {
					transform: rotate(180deg);
				}
				.icon {
					display: inline-block;
					vertical-align: -3px;
					&-lock {
						width: 16px; height: 16px;
						// background: url('~@/assets/images/icon-lock.png') no-repeat;
						// background-size: auto 16px;
					}
					&-unlock {
						width: 16px; height: 16px;
						// background: url('~@/assets/images/icon-lock.png') no-repeat 100% 0;
						// background-size: auto 16px;
					}
				}
			}
			&__option {
				top: 100%;
				margin-top: 4px;
				.inner {
					padding: 5px;
					background: #fff;
					border: 1px solid #dbdbdb;
					box-shadow: rgba(0, 0, 0, 0.15);
					border-radius: 16px;
				}
				label span {
					padding: 8px 11px;
					font-size: 14px;
					border-radius: 12px;
					.icon-lock,
					.icon-unlock {display: none;}
				}
			}
		}
	}
	&__option {
		position: absolute;
		width: 100%;
		z-index: 10;
		display: none;
		&.open {
			display: block;
		}
		.btn, label {
			display: block;
			cursor: pointer;
			width: 100%;
			text-align: left;
			>	span {
				display: block;
				&[data-me="true"]:before {
					content: "ME";
					@include pos($p: absolute, $t: 50%, $r: 60px);
					margin-top: -12px;
					padding: 4px 12px 2px;
					font: {
						size: 12px;
						weight: 400;
					}
					border: 1px solid #7b96e4;
					border-radius: 24px;
					color: #7b96e4;
				}
			}
			&.checked > span {
				background: #f7f7f7;
				font-weight: 700;
				color: #000;
			}
		}
		input[type="radio"] {
			@include pos($p: absolute, $z: -1);
			opacity: 0;
			&:checked ~ span {
				background: #f7f7f7;
				font-weight: 700;
				color: #000;
			}
		}
	}
	&.type1 &__option,
	&.type-bot &__option {
		display: none;
		justify-content: center;
		align-items: flex-end;
		@include pos($p: fixed, $t: 0, $r: 0, $l: 0, $z: 2000);
		height: 100%;
		background: rgba(0,0,0,.5);
		opacity: 0;
		transition: opacity .3s;
		&.ready {
			display: flex;
		}
		&.show {
			opacity: 1;
			.inner {
				transform: translateY(0);
			}
		}
		.inner {
			display: flex;
			flex-direction: column;
			width: 100%; height: auto;
			background: #fff;
			border-radius: 20px 20px 0 0;
			transform: translateY(100%);
			transition: transform .3s;
			padding: 8px 0 20px;
			.scrollWrap {
				max-height: 224px;
				overflow: auto;
			}
			.btn, label {
				font: {
					weight: 400;
					size: 14px;
				}
				color: #000;
				> span {
					position: relative;
					padding: 18px 60px 18px 20px;
					&[data-me="true"] {
						padding-right: 110px;
					}
				}
				&.checked > span,
				input:checked ~ span {
					&:after {
						content: "";
						@include pos($p: absolute, $t: 50%, $r: 20px);
						width: 24px; height: 24px;
						// background: url('~@/assets/images/icon-select_check.png') no-repeat;
						// background-size: 24px;
						margin-top: -12px;
					}
				}
			}
		}
		.title {
			padding: 13px 20px;
			font: {
				weight: 700;
				size: 16px;
			}
			color: #000;
		}
		.btn-close {
			@include pos($p: absolute, $t: 20px, $r: 20px);
			width: 24px; height: 24px;
			// background: url('~@/assets/images/icon-layer_close.png') no-repeat;
			// background-size: cover;
			font-size: 0;
		}
	}
}

.base-tab {
	&__nav {
		display: flex;
	}
	&__content {
		display: none;
		&.current {
			display: block;
		}
	}
	&.type1 &__nav {
		position: relative;
		overflow-y: hidden;
		overflow-x: auto;
		&::-webkit-scrollbar {
			display: none;
		}
		&:after {
			content: "";
			display: block;
			width: 20px;
			flex-shrink: 0;
		}
		padding: 0 0 1px 20px;
		border-bottom: 1px solid #dbdbdb;
		li ~ li {margin-left: 24px;}
		li {
			position: relative;
			color: #666;
			button:after {
				content: "";
				@include pos($p: absolute, $b: 0, $r: 0, $l: 0);
				border-bottom: 2px solid transparent;
			}
			&.on {
				color: #222;
				font-weight: bold;
				button:after {
					content: "";
					@include pos($p: absolute, $b: -1px, $r: 0, $l: 0);
					border-color: #000;
				}
			}
		}
		button {
			padding: 4px 2px;
		}
	}
	&.type2 &__nav {
		position: relative;
		overflow-y: hidden;
		overflow-x: auto;
		&::-webkit-scrollbar {
			display: none;
		}
		&:after {
			content: "";
			display: block;
			width: 20px;
			flex-shrink: 0;
		}
		padding: 0 0 1px 20px;
		li ~ li {margin-left: 8px;}
		button {
			height: 32px;
			padding: 0 12px;
			border: 1px solid #dbdbdb;
			background: #fff;
			border-radius: 32px;
			white-space: nowrap;
		}
		li.on button {
			background: #000;
			border-color: #000;
			color: #fff;
		}
	}
	&.type3 &__nav {
		border-bottom: 1px solid #dbdbdb;
		li {
			position: relative;
			flex: 1;
			@include font($s: 16px, $c: #666);
			button:after {
				content: "";
				@include pos($p: absolute, $b: 0, $r: 0, $l: 0);
				border-bottom: 2px solid transparent;
			}
			&.on {
				color: #222;
				font-weight: bold;
				letter-spacing: -.5px;
				button:after {
					content: "";
					@include pos($p: absolute, $b: -1px, $r: 0, $l: 0);
					border-color: #000;
				}
			}
		}
		button {
			width: 100%;
			padding: 11px 0;
		}
	}
}

.base-tooltip {
	position: relative;
	display: inline-block;
	font-size: 0;
	&.pos-top &__layer {top: 100%;}
	&.pos-right &__layer {right: 0;}
	&.pos-bottom &__layer {
		bottom: 100%;
		margin: 0 0 7px;
		.inner {
			margin: 0 0 7px;
		}
		&:before {
			top: auto;
			bottom: 0;
			@include arrow($dir: down, $w: 14px, $h: 8px, $c: #000);
		}
		&:after {
			top: 0;
			bottom: 7px;
			box-shadow: 0 -5px 12px 0 rgba(0, 0, 0, 0.15);
		}
	}
	&.pos-left &__layer {left: 0;}
	&__btn {
		.icon {
			display: inline-block;
			width: 18px; height: 18px;
			margin-left: 3px;
			font-size: 0;
			// background: url('~@/assets/images/icon-tooltip.png') no-repeat -1px -1px;
			// background-size: auto 20px;
			&:only-child {margin: 0;}
		}
		&[aria-expanded="true"] .icon {background-position-x: -21px;}
		&--close {
			@include pos($p: absolute, $t: 0, $r: 0);
		}
	}
	&__layer {
		display: none;
		@include pos($p: absolute, $z: 10);
		margin-top: 7px;
		font-size: 14px;
		color: #fff;
		position: absolute;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			@include arrow($dir: up, $w: 14px, $h: 8px, $c: #000);
		}
		&:after {
			content: "";
			@include pos($p: absolute, $a: 0);
			top: 7px;
			background: #000;
			border-radius: 8px;
			box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
		}
		.inner {
			position: relative;
			z-index: 2;
			margin-top: 7px;
			padding: 16px;
		}
		&.open {
			display: block;
		}
	}
}

.base-dropdown {
	position: relative;
	display: inline-block;
	line-height: 1;
	&.pos-top &__layer {top: 100%;}
	&.pos-right &__layer {right: 0;}
	&.pos-bottom &__layer {bottom: 100%;}
	&.pos-left &__layer {left: 0;}
	&__btn {
		.icon-mod {
			display: block;
			width: 24px; height: 24px;
			// background: url('~@/assets/images/icon-mod.png') no-repeat;
			// background-size: auto 24px;
			font-size: 0;
		}
	}
	&__layer {
		display: none;
		@include pos($p: absolute, $z: 10);
		min-width: 84px;
		margin-top: 8px;
		background: #fff;
		border: 1px solid #dbdbdb;
		border-radius: 16px;
		box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
		.inner {
			padding: 8px 0;
			button {
				text-align: left;
				white-space: nowrap;
			}
		}
		li {
			&.line {
				margin-top: 8px;
				padding-top: 8px;
				&:after {
					content: "";
					@include pos($p: absolute, $t: 0, $r: 12px, $l: 12px);
					border-top: 1px solid #ebebeb;
				}
			}
			button {width: 100%;}
			button > span {
				display: block;
				padding: 8px 19px 8px 12px;
				color: #666;
				&.util-icon {
					position: relative;
					padding-left: 35px;
				}
				&.util-icon--important {
					color: #fa4541;
				}
			}
			.icon-tag {
				display: inline-block;
				width: 16px; height: 16px;
				margin-right: 8px;
				// background: url('~@/assets/images/icon-tag.png') no-repeat 0 0 / auto 16px;
				vertical-align: -2px;
				&--hash {
					background-position: -16px 0;
				}
			}
		}
		&.open {
			display: block;
		}
	}
}

.base-search {
	position: relative;
	height: 40px;
	padding-right: 70px;
	background: #f7f7f7;
	border: 1px solid #ebebeb;
	border-radius: 40px;
	box-sizing: border-box;
	input[type="text"] {
		width: 100%;
		padding: 10px 16px;
		border: 0;
		background: none;
	}
	&--del {
		@include pos($p: absolute, $t: 12px, $r: 52px);
		width: 16px; height: 16px;
		// background: url('~@/assets/images/icon-input_del.png') no-repeat;
		// background-size: cover;
		font-size: 0;
	}
	&--btn {
		@include pos($p: absolute, $t: 9px, $r: 16px);
		width: 20px; height: 20px;
		// background: url('~@/assets/images/icon-search.png') no-repeat;
		// background-size: cover;
		font-size: 0;
	}
}
.input-txt {
	position: relative;
	display: inline-block;
	input[type="text"] {
		width: 100%;
		padding: 11px 40px 9px 16px;
	}
	textarea {
		width: 100%; height: 100%;
		padding-right: 30px
	}
	&--del {
		@include pos($p: absolute, $t: 14px, $r: 12px);
		width: 16px; height: 16px;
		// background: url('~@/assets/images/icon-input_del.png') no-repeat;
		// background-size: cover;
		font-size: 0;
	}
}

.btn-memeber_edit {
	@include pos($p: absolute, $t: 21px, $r: 63px);
}
.member-list {
	li {
		display: flex;
		width: 100%;
		> button {
			display: flex;
			width: 100%;
			text-align: left;
			&:active {
				background: #e9e9e9;
			}
		}
		~ li {
			margin-top: 24px;
		}
		> .base-chk {
			position: relative;
			display: flex;
			width: 100%;
			> span {
				@include pos($p: absolute, $t: 50%, $r: 0);
				margin-top: -12px;
			}
		}
	}
	&__snippet {
		overflow: hidden;
		flex: 1;
		&__pic {
			position: relative;
			width: 40px; height: 40px;
			margin-right: 12px;
			border-radius: 50%;
			overflow: hidden;
			img {width: 100%;}
			&:after {
				content: "";
				@include pos($p: absolute, $a: 0);
				border: 1px solid rgba(0, 0, 0, 0.15);
				border-radius: 50%;
			}
			&.owner {
				&:before {
					content: "";
					@include pos($p: absolute, $a: 0);
					border: 3px solid #fff;
					border-radius: 50%;
				}
				&:after {
					content: "";
					@include pos($p: absolute, $a: 0);
					border: 1px solid #447bcf;
					border-radius: 50%;
				}
			}
		}
		&__name {
			display: block;
			color: #000;
			font-size: 14px;
			@include ellipsis;
			span {
				~ span:before {
					content: "/ ";
				}
			}
		}
		&__group {
			color: #999;
			font-size: 12px;
			@include ellipsis;
			span {
				position: relative;
				~ span {
					margin-left: 17px;
					@include ico($w: 1px, $h: 12px, $b: #ebebeb, $t: 1px, $l: -9px);
				}
			}
		}
	}
}

.mention-member-sel {
	display: none;
	position: absolute;
	width: 294px;
	padding: 0 7px;
	background: #fff;
	border-radius: 16px;
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
	box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
	max-width: 100%;
	&.bot {
		bottom: 0;
	}
	&.open {
		display: block;
	}
	.no-member {
		padding: 24px 0;
		text-align: center;
		@include font($s: 12px, $c: #8e8e8e);
	}
	.mention-noti {
		padding: 16px 5px 8px;
		font-size: 12px;
		color: #8e8e8e;
	}
	.membe-chk-all {
		display: flex;
		align-items: center;
		margin: -10px 0 10px;
		height: 48px;
		font-size: 16px;
		.base-chk {
			margin-left: auto;
			width: 16px; height: 16px;
			&.type2:before {
				background-size: auto 16px;
				background-position-x: -32px;
			}
			&.type2:checked:before {
				background-position-x: -48px;
			}
		}
	}
	.mention-sort-info {
		margin: 0 0 14px;
		padding: 14px 0;
		border-bottom: 1px solid #ebebeb;
		> p {
			~ p {
				margin-top: 20px;
			}
			strong {
				display: block;
				color: #000;
				font-weight: 400;
				font-size: 14px;
			}
			span {
				color: #8e8e8e;
				font-size: 12px;
			}
		}
	}
	.scrollWrap {
		height: 200px;
		padding: 10px 4px;
		box-sizing: border-box;
		overflow: auto;
	}
	.member-list {
		li {
			align-items: center;
			~ li {margin-top: 20px;}
		}
		&__snippet__pic {
			width: 32px; height: 32px;
		}
	}
}
.icon-file {
	display: inline-block;
	width: 24px; height: 24px;
	// background: url('~@/assets/images/icon-file.png') no-repeat;
	background-size: auto 24px;
	vertical-align: middle;
	&--etc {background-position-x: -24px;}
	&--xls {background-position-x: -48px;}
	&--hwp {background-position-x: -72px;}
	&--pdf {background-position-x: -96px;}
	&--ppt {background-position-x: -120px;}
	&--doc {background-position-x: -144px;}
	&--zip {background-position-x: -168px;}
	&--link {background-position-x: -192px;}
}

.layer-popup {
	display: flex;
	justify-content: center;
	align-items: center;
	@include pos($p: fixed, $t: 0, $r: 0, $l: 0, $z: 1000);
	height: 100%;
	background: rgba(0,0,0,.5);
	opacity: 0;
	transition: opacity .3s;
	&.layer-confirm {
		z-index: 2000;
	}
	.scrollWrap {
		overflow: auto;
	}
	&.show {opacity: 1;}
	&__wrap {
		position: relative;
		background: #fff;
		border-radius: 20px;
		&.bgWrap {
			background: #f7f7f7;
		}
	}
	&.type-mid {
		.layer-popup {
			&__wrap {
				width: calc(100% - 64px);
				&.picture_layer {
					width: auto;
					max-width: 300px;
					border-radius: 16px;
					box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
					.layer-popup__body {
						@include flexCenter;
						width: 310px;
						height: 418px;
						padding: 0;
						background: #fff;
						border-radius: 16px;
						overflow: hidden;
						img {
							min-width: 200px;
							max-width: 310px;
							max-height: 418px;
						}
					}
					.btn-close {
						top: 100%; right: 50%;
						width: 36px; height: 36px;
						margin: 20px -18px 0 0;
						// background: rgba(255, 255, 255, 0.8) url('~@/assets/images/icon-layer_close2.png') no-repeat 50% 50% / 20px;
						border-radius: 50%;
					}
				}
			}
			&__header {
				padding-top: 8px;
				&--title {
					padding: 13px 20px;
					font-weight: 700;
					font-size: 16px;
				}
				~ .layer-popup__body {
					padding-top: 20px;
				}
			}
			&__body {
				padding: 0 20px 20px;
			}
		}
	}
	&.type-full {
		.layer-popup {
			&__wrap {
				@include pos($p: fixed, $a: 0);
				width: 100%; height: 100%;
				border-radius: 0;
				display: flex;
				flex-direction: column;
				&.isScroll {
					.layer-popup__header {
						background: rgba(255,255,255,.95);
						box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
					}
					.layer-popup__body {
						&:before {
							background: rgba(255,255,255,.95);
							box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
						}
					}
				}
				&.isBtmBtn .layer-popup__body {
					padding-bottom: calc(92px + env(safe-area-inset-bottom));
				}
			}
			&__header {
				@include pos($p: absolute, $t: 0, $r: 0, $l: 0, $z: 100);
				height: 50px;
				padding-top: env(safe-area-inset-top);
				transition: all .3s;
				&--title {
					padding: 13px 50px 0;
					font-weight: 700;
					font-size: 16px;
					text-align: center;
					@include ellipsis;
				}
			}
			&__header ~ .layer-popup__body {
				padding-top: calc(74px + env(safe-area-inset-top));
				&:before {display: none;}
			}
			&__body {
				display: flex;
				flex-direction: column;
				flex: 1;
				box-sizing: border-box;
				padding: calc(50px + env(safe-area-inset-top)) 20px 20px;
				&:before {
					content: "";
					@include pos($p: fixed, $t: 0, $r: 0, $l: 0, $z: 100);
					height: 50px;
					transition: all .3s;
				}
			}
		}
		.btn-close {
			@include pos($p: absolute, $t: calc(13px + env(safe-area-inset-top)), $r: 20px, $z: 110);
		}
	}
	&.type-bot {
		align-items: flex-end;
		.layer-popup {
			&__wrap {
				display: flex;
				flex-direction: column;
				width: 100%; height: auto;
				max-height: calc(100% - 60px);
				border-radius: 20px 20px 0 0;
				transform: translateY(100%);
				transition: transform .3s;
				&.isFixedHeight {height: calc(100% - 60px);}
				&.isDatePicker {
					max-height: none;
					.layer-popup__body {
						padding: 10px 20px 20px;
						.base-btn {
							margin-top: 36px;
							width: 100%;
						}
					}
				}
				&.type-list {
					.layer-popup__body {
						padding: 0 20px;
						border-top: 1px solid #dbdbdb;
					}
				}
			}
			&__header {
				padding-top: 8px;
				&--title {
					padding: 13px 20px;
					font-weight: 700;
					font-size: 16px;
				}
				~ .layer-popup__body {padding-top: 24px;}
			}
			&__body {
				display: flex;
				flex-direction: column;
				flex: 1;
				height: 1px;
				min-height: fit-content;
				padding: 0 20px calc(20px + env(safe-area-inset-bottom));
			}
		}
		&.show .layer-popup__wrap {transform: translateY(0)}
	}
	.btn-close {
		@include pos($p: absolute, $t: 20px, $r: 20px);
		width: 24px; height: 24px;
		// background: url('~@/assets/images/icon-layer_close.png') no-repeat;
		background-size: cover;
		font-size: 0;
	}

}

@keyframes load1 {
	from {
		opacity: 1;
		bottom: 10px;
	}
	33% {
		opacity: 1;
		bottom: 10px;
	}
	66% {
		opacity: 1;
		bottom: 10px;
	}
	to {
		opacity: 0;
		bottom: 0;
	}
}
@keyframes load2 {
	from {
		opacity: .58;
		bottom: 22px;
	}
	33% {
		opacity: .58;
		bottom: 22px;
	}
	66% {
		opacity: 0;
		bottom: 11px;
	}
	to {
		opacity: 0;
		bottom: 0;
	}
}
.loading {
	@include pos($p: fixed, $a: 0, $z: 10000);
	p {
		@include pos($p: absolute, $b: -3px, $l: 10px);
		width: 44px; height: 44px;
		background: #447bcf;
		transform: rotateX(58deg) rotateZ(45deg);
		font-size: 0;
	}
	.box {
		@include pos($p: fixed, $t: 50%, $l: 50%);
		width: 64px; height: 64px;
		margin: -32px 0 0 -32px;
		&:before, &:after {
			content:"";
			@include pos($p: absolute, $b: 10px, $l: 10px, $z: 2);
			width: 44px; height: 44px;
			background: #223f81;
			transform: rotateX(58deg) rotateZ(45deg);
			opacity: 1;
		}
		&:before {
			animation: 1.5s ease-in .7s infinite alternate load1;
		}
		&:after {
			opacity: .58;
			bottom: 22px;
			background: #a4b4d9;
			animation: 1.5s ease-in .7s infinite alternate load2;
		}
		img {
			position: relative;
			z-index: 10;
			width: 64px; height: 64px;
			opacity: .5
		}
	}
}

.toast_popup {
	@include pos($p: fixed, $r: 20px, $t: 96px, $l: 20px, $z: 2000);
	padding: 17px 16px 15px;
	text-align: center;
	background-color: rgba(52, 61, 82, 0.95);
	border-radius: 20px;
	opacity: 0;
	transform: translateY(-100%);
	transition: all .3s;
	@include font($s: 14px, $l: 24px, $c: #fff);
	&.type-alert {
		background: rgba(52, 61, 82, 0.95);
	}
	&.show {
		transform: translateY(0);
		opacity: 1;
	}
}

.confirm {
	&__txt {
		margin-top: 40px;
		text-align: center;
		font-size: 16px;
		color: #000;
		.txt1 {
			margin-top: 20px;
			@include font($s: 14px, $c: #666);
		}
		.txt2 {font-weight: 700;}
	}
	&__btn {
		display: flex;
		justify-content: center;
		margin-top: 32px;
		.base-btn {flex: 1;}
		.base-btn:only-child {flex: none; width: 124px;}
		.base-btn ~ .base-btn {margin-left: 8px;}
	}
}

.no-data {
	&:before {
		content:"";
		display: block;
		width: 80px; height: 80px;
		margin: 0 auto;
		// background: url('~@/assets/images/icon-no_data.png') no-repeat;
		background-size: auto 80px;
	}
	text-align: center;
	color: #bbb;
	&.type-noti:before {background-position-x: -80px;}
	&.type-file:before {background-position-x: -160px;}
	&.type-file_show:before {background-position-x: -240px;}
}

.noti-detail {
	background: #f7f7f7;
	.title {
		margin: 0 0 20px;
		font-size: 16px;
	}

	.cont {
		font-size: 14px;
		color: #666;
		a {
			color: #0084ff;
			text-decoration: underline;
		}
		img {
			width: auto !important;
			max-width: 100%;
		}
	}
}

.use-guide {
	@include pos($p: fixed, $a: 0, $z: 100);
	background: rgba(0, 0, 0, 0.85);
	.txt {
		position: relative;
		@include font($s: 16px, $c: #fff, $l: 22px, $a: center);
		&:before {
			content: "";
			position: absolute;
			width: 33px; height: 37px;
			// background: url('~@/assets/images/icon-guide_arrow.png') no-repeat;
			background-size: cover;
		}
	}
}

.layer-popup__wrap.file_viewer {
	background: #f7f7f7;
	.layer-popup__header {
		padding: env(safe-area-inset-top) 112px 0 20px;
		background: #fff;
	}
	.layer-popup__header--title {
		padding: 12px 0 0;
		text-align: left;
	}
	.type-file_show {
		margin-top: 230px;
	}
	.base-dropdown {
		@include pos($p: fixed, $t: calc(13px + env(safe-area-inset-top)), $r: 64px, $z: 100);
		.icon-mod {
			// background: url('~@/assets/images/icon-mod2.png') no-repeat;
			background-size: cover;
		}
	}
}

[class*="android"].app ::-webkit-scrollbar {width: 7px;}
[class*="android"].app ::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.1);
	border-right: 4px solid transparent;
	background-clip: padding-box;
}