html {
	height: 100vh;
	@media screen and (min-width: 0) {font-size: 55.50%;}
	@media screen and (min-width: 360px) {font-size: 62.5%;}
	@media screen and (min-width: 375px) {font-size: 64.5%;}
	@media screen and (min-width: 412px) {font-size: 71.527%;}
	@media screen and (min-width: 414px) {font-size: 71.875%;}
	@media screen and (min-width: 768px) {font-size: 62.5%;}
}
body {
	-webkit-text-size-adjust: none;
	margin: 0;
	font: 14px/1.5 $font;
	word-break: keep-all;
	background: #fff;
	color: #000;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol,dl,dd,fieldset,pre {margin: 0;}
ol, ul, td, fieldset {padding: 0;}
input, select, textarea, button, pre, a {
	font : {
		family: inherit;
		size: inherit;
		weight: inherit;
	}
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-decoration: none;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea {
	-webkit-appearance: none;
	padding: 10px 12px;
	border: 0;
	border-bottom: 1px solid #dbdbdb;
	border-radius: 0;
	background: #f7f7f7;
	box-sizing: border-box;
	outline: none;
	resize: none;
	vertical-align: top;
	&:focus {
		border-color: #000;
	}
	@include placeholder($s: 14px, $c: #999);
}
input[type="checkbox"],
input[type="radio"],
select {
	border-radius: 0;
	background: none;
	-webkit-appearance: none;
}
li {list-style: none;}
table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	table-layout: fixed;
}
fieldset, img {border: 0;}
img {
	vertical-align: top;
	max-width: 100%;
}
label, td img {vertical-align: middle;}
h1,h2,h3,h4,h5,strong,b,th {font-weight: 700;}
legend, caption, .blind {display: none;}
address, em {font-style: normal;}
button {
	margin: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;
	background: none;
	border: 0;
	border-radius: 0;
	vertical-align: top;
	> span {position: relative;}
}
pre {white-space: pre-line;}

hr {margin: 10px 0; border: solid #d3d4d6; border-width: 1px 0 0;}

.swiper-container {
	overflow: hidden;
}
.swiper-wrapper {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	.swiper-slide {
		width: 100%;
		flex-shrink: 0;
	}
}