@font-face {
	font-family:'noto';
	font-weight:300;
	src:url('./assets/font/noto/NotoSansKR-Light.eot');
	src:url('./assets/font/noto/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
		url('./assets/font/noto/NotoSansKR-Light.woff2') format('woff2'),
		url('./assets/font/noto/NotoSansKR-Light.woff') format('woff');
}
@font-face {
	font-family:'noto';
	font-weight:400;
	src:url('./assets/font/noto/NotoSansKR-Regular.eot');
	src:url('./assets/font/noto/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
		url('./assets/font/noto/NotoSansKR-Regular.woff2') format('woff2'),
		url('./assets/font/noto/NotoSansKR-Regular.woff') format('woff');
}

@font-face {
	font-family:'noto';
	font-weight:500;
	src:url('./assets/font/noto/NotoSansKR-Medium.eot');
	src:url('./assets/font/noto/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
		url('./assets/font/noto/NotoSansKR-Medium.woff2') format('woff2'),
		url('./assets/font/noto/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
	font-family:'noto';
	font-weight:700;
	src:url('./assets/font/noto/NotoSansKR-Bold.eot');
	src:url('./assets/font/noto/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/font/noto/NotoSansKR-Bold.woff2') format('woff2'),
		url('./assets/font/noto/NotoSansKR-Bold.woff') format('woff');
}
@font-face{
	font-family: 'life';
	font-style: normal;
	font-weight: 700;
	src:url('./assets/font/life/LIFEPLUS-Bold.eot'); 
	src:url('./assets/font/life/LIFEPLUS-Bold.eot?#iefix') format('embedded-opentype'), 
		url('./assets/font/life/LIFEPLUS-Bold.woff') format('woff'), 
		url('./assets/font/life/LIFEPLUS-Bold.ttf') format('turetype'); 
}
@font-face{
	font-family: 'life';
	font-style: normal;
	font-weight: 400;
	src:url('./assets/font/life/LIFEPLUS-Medium.eot'); 
	src:url('./assets/font/life/LIFEPLUS-Medium.eot?#iefix') format('embedded-opentype'), 
	url('./assets/font/life/LIFEPLUS-Medium.woff') format('woff'), 
	url('./assets/font/life/LIFEPLUS-Medium.ttf') format('turetype'); 
}
@font-face{
	font-family: 'life';
	font-style: normal;
	font-weight: 300;
	src:url('./assets/font/life/LIFEPLUS-Light.eot'); 
	src:url('./assets/font/life/LIFEPLUS-Light.eot?#iefix') format('embedded-opentype'), 
		url('./assets/font/life/LIFEPLUS-Light.woff') format('woff'), 
		url('./assets/font/life/LIFEPLUS-Light.ttf') format('turetype');
}