html {
	&.scrollLock {
		overflow: hidden;
		body {
			overflow: hidden;
		}
	}
	&.userSelectLock {
		user-select: none;
		-webkit-user-select: none;
		* {
			user-select: none;
			-webkit-user-select: none;
		}
	}
}

.wrap {
	position: relative;
	padding-top: env(safe-area-inset-top);
	&.bgWrap {
		&:before {
			content: "";
			@include pos($p: fixed, $a: 0, $z: -1);
			bottom: -1000px;
			background: #f7f7f7;
		}
	}
	&.bgWrap2 {
		&:before {
			content: "";
			@include pos($p: fixed, $a: 0, $z: -1);
			bottom: -100px;
			background-image: linear-gradient(180deg, #fff, #f2f4fe 550px);
			background-color: #f2f4fe;
		}
	}
}
.header {
	@include pos($p: absolute, $t: 0, $r: 0, $l: 0, $z: 100);
	height: 50px;
	padding-top: env(safe-area-inset-top);
	background: transparent;
	box-shadow: none;
	transition: all .3s;
	&.isScroll {
		position: fixed;
		top: 0;
		background: rgba(255,255,255,.95);
		box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
		.searchSticky & {
			background: none;
			box-shadow: none;
		}
	}
	.logo {
		height: 50px;
		padding: 14px 0 0 58px;
		// background: url('~@/assets/images/logo.png') no-repeat 20px 14px;
		// background-size: 24px;
		font-size: 0;
		color: #000;
		box-sizing: border-box;
		.home & {display: none;}
	}
	&-util {
		display: flex;
		@include pos($p: absolute, $t: 12px, $r: 20px, $z: 101);
		margin-top: env(safe-area-inset-top);
	}
	.page-title {
		padding-left: 64px;
		opacity: 0;
		transition: opacity .3s;
		&.type2 {
			opacity: 1;
			text-align: center;
			padding: 0;
			> span {
				font: {
					size: 16px;
					weight: 700;
				}
			}
		}
		> span {
			max-width: 135px;
			display: inline-block;
			padding-top: 13px;
			vertical-align: middle;
			font: {
				size: 14px;
				weight: 400;
			}
			line-height: 20px;
			color: #000;
			@include ellipsis;
		}
		.base-tooltip {
			vertical-align: middle;
			.inner {
				text-align: left;
				font-weight: 400;
			}
		}
	}
	.btn {
		&-back {
			@include pos($p: absolute, $t: 13px, $l: 13px, $z: 101);
			margin-top: env(safe-area-inset-top);
			width: 24px; height: 24px;
			// background: url('~@/assets/images/icon-back.png') no-repeat -24px 0;
			// background-size: auto 24px;
			font-size: 0;
		}
		&-alert {
			position: relative;
			display: inline-block;
			width: 24px; height: 24px;
			margin-left: 20px;
			// background: url('~@/assets/images/icon-header_util.png') no-repeat;
			// background-size: auto 24px;
			font-size: 0;
			.num {
				@include pos($p: absolute, $t: -9px, $l: 12px);
				min-width: 20px; height: 20px;
				padding: 3px 5px 0 5px;
				border-radius: 20px;
				box-sizing: border-box;
				background: #f74747;
				color: #fff;
				font-size: 12px;
				overflow: hidden;
				text-align: center;
			}
		}
		&-search {
			display: inline-block;
			width: 24px; height: 24px;
			margin-left: 20px;
			// background: url('~@/assets/images/icon-header_util.png') no-repeat -24px 0;
			// background-size: auto 24px;
			font-size: 0;
		}
		&-map {
			display: inline-block;
			margin-top: -3px;
			padding: 6px 11px 3px 7px;
			border-radius: 32px;
			background: #fff;
			border: 1px solid #dbdbdb;
			color: #000;
			&:before {
				content: "";
				display: inline-block;
				width: 16px; height: 16px;
				margin-right: 4px;
				// background: url('~@/assets/images/icon-header_util.png') no-repeat -53px -4px;
				// background-size: auto 24px;
				vertical-align: -3px;
			}

		}
	}
	&.sub-page {
		.btn-back {
			background-position-x: 100%;
		}
		.page-title {
			padding-top: 13px;
			text-align: center;
			> span {
				font: {
					size: 16px;
					weight: 700;
				}
				line-height: 1.5;
			}
		}
	}
}

.container {
	padding: 50px 20px calc(50px + env(safe-area-inset-bottom));
}

// .isFooterHide {
// 	.footer {
// 		transform: translateY(100%);
// 	}
// 	.footer__btn {
// 		padding: 0 0 20px !important;
// 	}
// }

.footerOn {
	height: 56px;
}
.footer {
	@include pos($p: fixed, $b: 0, $r: 0, $l: 0, $z: 100);
	transform: translateY(0);
	transition: all .3s;
	.swiper {
		&-container,
		&-wrapper {height: 100%;}
	}
	&__btn {
		@include pos($p: fixed, $b: 0, $r: 20px);
		padding: 0 0 20px;
		&-top {
			width: 56px; height: 56px;
			border-radius: 50%;
			box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
			// background: #fff url('~@/assets/images/btn-top.png') no-repeat 50% 50% / 24px;
			font-size: 0;
		}
	}
	&__nav ~ &__btn {
		padding: 0 0 84px;
	}
	&__nav {
		position: relative;
		display: flex;
		justify-content: center;
		padding-bottom: env(safe-area-inset-bottom);
		background: #fff;
		box-shadow: 0 -6px 18px rgba(0, 0, 0, 0.15);
		transition: transform .3s;
		&--btn {
			position: relative;
			flex: 1;
			height: 56px;
			padding: 9px 0 4px;
			text-align: center;
			font-size: 10px;
			line-height: 18px;
			box-sizing: border-box;
			color: #5c5c5d;
			&:before {
				content: "";
				display: block;
				width: 24px; height: 24px;
				margin: 0 auto;
				// background: url('~@/assets/images/icon-footer_menu.png') no-repeat;
				// background-size: auto 48px;
			}
			&.router-link-exact-active {
				color: #000;
				&:before {
					background-position-y: -24px;
				}
				&:after {
					content: "";
					@include pos($p: absolute, $t: 0, $l: 50%);
					width: 24px;
					margin-left: -12px;
					border-top: 2px solid #000;
				}
			}
		}
		&--share:before {background-position-x: -24px;}
		&--my:before {background-position-x: -48px;}
		&--node:before {background-position-x: -72px;}
		&--map:before {background-position-x: -96px;}
		&--menu:before {background-position-x: -120px;}
		&__cate {
			display: flex;
			flex: 1;
			a {
				display: block;
				flex: 1;
				margin: 0 4px;
				padding-top: 8px;
				background: #f7f7f7;
				border-radius: 20px;
				text-align: center;
				font-size: 16px;
				font-weight: 700;
				color: #000;
				transition: all .3s;
				&.router-link-active {
					background: #000;
					color: #fff;
				}
			}
		}
	}
	// &__nav {
	// 	height: 60px;
	// 	a {
	// 		display: block;
	// 		height: 100%;
	// 		text-align: center;
	// 		padding-top: 10px;
	// 		box-sizing: border-box;
	// 		font: {
	// 			size: 12px;
	// 			weight: 700;
	// 		}
	// 		color: #acacac;
	// 		&:before {
	// 			content: "";
	// 			display: block;
	// 			width: 25px; height: 24px;
	// 			margin: 0 auto 2px;
	// 			background: red;
	// 		}
	// 		&.router-link-active {
	// 			color: #000;
	// 			&:before {background: blue;}
	// 		}
	// 	}
	// }
}

.list-head {
	position: relative;
	margin: calc(-50px - env(safe-area-inset-top)) -20px 0;
	padding: calc(74px + env(safe-area-inset-top)) 20px 27px;
	background: #fff;
	.title-wrap {
		display: flex;
		.date {
			margin: 10px 0 0 8px;
			color: #999;
			font-size: 12px;
		}
	}
	.title {
		padding-right: 52px;
		display: flex;
		font-size: 20px;
		> span {
			max-width: 235px;
		}
		.base-select {
			&__btn {
				max-width: 240px;
				padding-right: 24px;
				text-align: left;
				box-sizing: border-box;
				// background: url('~@/assets/images/icon-node-sel.png') no-repeat 100% 50%;
				// background-size: 20px;
				img {
					width: 32px;
					margin-right: 8px;
					vertical-align: middle;
				}
			}
			&__option img {display: none;}
		}
		&.ranking {
			padding: 0 0 0 40px;
			// background: url('~@/assets/images/icon-ranking.png') no-repeat 0 50%;
			// background-size: 32px;
		}
	}
	.base-tab {
		margin: 0 -20px -27px;
	}
}

.btn-sticky_wrap {
	@include pos($p: fixed, $b: 20px, $r: 20px, $z: 100);
	.btn-memo {
		width: 56px; height: 56px;
		border-radius: 50%;
		box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
		// background: #000 url('~@/assets/images/icon-memo.png') no-repeat 50% 50% / 24px;
		span {
			font-size: 0;
		}
	}
}

.btn-all_reply {
	@include pos($p: fixed, $b: 20px, $r: 20px, $z: 100);
	width: 56px; height: 56px;
	border-radius: 50%;
	box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.15);
	// background: #000 url('~@/assets/images/btn-reply.png') no-repeat 50% 50% / 24px;
	transition: bottom .3s;
	// .isFooterHide & {bottom: 20px;}
	span {
		font-size: 0;
	}
}