@mixin ellipsis($l: null) {
	@if $l == null {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	} @else {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $l;
		word-break: break-all;
	}
}
@mixin flexCenter() {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin font($f: null, $l: null, $c: null, $s: null, $w: null, $a: null, $t: null) {
	color: $c;
	font-family: $f;
	font-size: $s;
	font-weight: $w;
	text-align: $a;
	line-height: $l;
	letter-spacing: $t;
}
@mixin pos($p: null, $t: null, $r: null, $b: null, $l: null, $z: null, $a: null) {
	position: $p;
	z-index: $z;
	@if $a != null {
		top: $a;
		right: $a;
		bottom: $a;
		left: $a;
	} @else {
		top: $t;
		right: $r;
		bottom: $b;
		left: $l;
	}
}
@mixin arrow($dir: null, $w: null, $h: null, $c: null) {
	border: $w/2 solid transparent;
	@if $dir == down {
		border-top: $h solid $c;
		border-bottom: 0;
	} @else if $dir == up {
		border-bottom: $h solid $c;
		border-top: 0;
	} @else if $dir == left {
		border-right: $h solid $c;
		border-left: 0;
	} @else if $dir == right {
		border-left: $h solid $c;
		border-right: 0;
	} 
}
@mixin ico($w: null, $h: null, $b: null, $t: null, $l: null, $a: false) {
	@if $a == false {
		&:before {
			content: "";
			position: absolute;
			top: $t; left: $l;
			width: $w; height: $h;
			background: $b;
		}
	} @else {
		&:after {
			content: "";
			position: absolute;
			top: $t; left: $l;
			width: $w; height: $h;
			background: $b;
		}
	}
}
@mixin placeholder($s: null, $c: null) {
	&::-webkit-input-placeholder {font-size: $s; color: $c;}
	&:-moz-placeholder {font-size: $s; color: $c;}
	&:-ms-input-placeholder {font-size: $s; color: $c;}
}

@mixin thumb() {
	border-radius: 50%;
	overflow: hidden;
	img {width: 100%;}
	&:after {
		content: "";
		@include pos($p: absolute, $a: 0);
		border: solid 1px rgba(0, 0, 0, 0.15);
		border-radius: 50%;
	}
}