div.vdp-datepicker {
	header {
		display: flex;
		justify-content: center;
		span {
			width: 100px;
			@include flexCenter;
			font-size: 16px;
		}
		.prev, .next {
			float: none;
			width: 40px; height: 40px;
			&:after {
				content: "";
				position: static;
				display: inline-block;
				width: 20px; height: 20px;
				margin: 0;
				// background: url('~@/assets/images/icon-cal.png') no-repeat -20px 0;
				// background-size: auto 20px;
				border: 0;
				transform: none;
			}
		}
		.prev.disabled:after {border: 0;}
		.next.disabled:after {border: 0;}
		.next:after {transform: rotate(180deg);}
	}
	&__calendar {
		width: 320px;
		margin: 0 auto;
		border: 0;
		overflow: hidden;
		div {
			width: 336px;
			transform: translateX(-8px);
		}
	}
	&__calendar div .cell {
		position: relative;
		height: 32px;
		line-height: 32px;
		margin: 6px 0;
		padding: 0 8px;
		border: 0 !important;
		vertical-align: top;
		span {
			display: inline-block;
			width: 32px; height: 32px; line-height: 34px;
			border-radius: 32px;
		}
		&.day-header {
			font-size: 14px;
			color: #999;
		}
		.hl {
			@include flexCenter;
			margin: 0 auto;
			span {
				position: relative;
				color: #fff;
			}
			&:before {
				content: "";
				@include pos($p: absolute, $t: 0, $r: -1px, $b: 0, $l: -1px);
				background: #000;
			}
			&.end:before {
				right: 8px;
				border-radius: 0 32px 32px 0;
			}
		}
		&.selected {
			background: none;
			border: 0 !important;
			&.highlighted {background: none;}
			&:hover {background: none;}
			span {
				background: #000;
				color: #fff;
			}
		}
		&.highlighted {
			background: none;
			&.highlight-start .hl:before {
				left: 8px;
				border-radius: 32px 0 0 32px;
			}
			&.highlight-end .hl:before {
				right: 8px;
				border-radius: 0 32px 32px 0;
			}
		}
	}
}