<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover,user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta property="og:image" content="<%= BASE_URL %>favicon.ico">
    <meta name="naver-site-verification" content="f7759823443571ace73fb8ecd9068a2b94a95cb0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      

    window.addEventListener("deviceorientation", (e)=> {
      console.log(e.alpha, e.gamma, e.beta);
    });
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
