<template>
  <router-view @pageSet="pageSet" />
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      className: null
    }
  },
  setup() {
    if (sessionStorage.redirect) {
      const redirect = sessionStorage.redirect
      delete sessionStorage.redirect
      this.$router.push(redirect);
    }
  },
  mounted() {
    console.log(this);
  },
  watch: {
    $route(to) {
      if(to.meta.className) this.pageSet(to.meta.className);
    }
  },
  methods: {
    pageSet(str) {
      this.className = str;
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/style.scss";
</style>