<template>
  <div class="guide-table">
    <table>
      <colgroup>
        <col style="width: 150px" />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th scope="row">Node</th>
          <td>v14.19.0</td>
        </tr>
        <tr>
          <th scope="row">모바일</th>
          <td>
            IOS13 - safari<br />
            android12 - chrome
          </td>
        </tr>
        <tr>
          <th scope="row">REM</th>
          <td>
            디자인 기준 - 360px === 62.5%<br />
            @media screen and (min-width: 0) {font-size: 55.55%;}<br />
            @media screen and (min-width: 360px) {font-size: 62.5%;}<br />
            @media screen and (min-width: 375px) {font-size: 64.5%;}<br />
            @media screen and (min-width: 412px) {font-size: 71.527%;}<br />
            @media screen and (min-width: 414px) {font-size: 71.875%;}<br />
            @media screen and (min-width: 768px) {font-size: 62.5%;}<br />
          </td>
        </tr>
        <tr>
          <th scope="row">Font Weight</th>
          <td>
            Noto Sans CJK KR <br />
            weight: 300 - Light <br />
            weight: 400 - Regular <br />
            weight: 500 - Medium <br />
            weight: 700 - Bold
          </td>
        </tr>
        <tr>
          <th scope="row">Font</th>
          <td>
            <span class="colorChip" @click="copyColor">
              <span style="background: #5c5c5d"></span>
              <input type="text" value="#5c5c5d" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #666"></span>
              <input type="text" value="#666" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #8e8e8e"></span>
              <input type="text" value="#8e8e8e" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #999"></span>
              <input type="text" value="#999" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #acacac"></span>
              <input type="text" value="#acacac" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #bbb"></span>
              <input type="text" value="#bbb" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #dbdbdb"></span>
              <input type="text" value="#dbdbdb" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #ebebeb"></span>
              <input type="text" value="#ebebeb" readonly />
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">Line</th>
          <td>
            <span class="colorChip" @click="copyColor">
              <span style="background: #e8e9ec"></span>
              <input type="text" value="#e8e9ec" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #fbb03f"></span>
              <input type="text" value="#fbb03f" readonly />
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">BG</th>
          <td>
            <span class="colorChip" @click="copyColor">
              <span style="background: #f7f7f7"></span>
              <input type="text" value="#f7f7f7" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #e9eefd"></span>
              <input type="text" value="#e9eefd" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #e9eefd"></span>
              <input type="text" value="#e9eefd" readonly />
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>
            <span class="colorChip" @click="copyColor">
              <span style="background: #224fe6"></span>
              <input type="text" value="#224fe6" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #00e317"></span>
              <input type="text" value="#00e317" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #fdb12e"></span>
              <input type="text" value="#fdb12e" readonly />
            </span>
            <span class="colorChip" @click="copyColor">
              <span style="background: #fa4541"></span>
              <input type="text" value="#fa4541" readonly />
            </span>
          </td>
        </tr>
        <tr>
          <th scope="row">Icon File</th>
          <td>
            <span><i class="icon-file icon-file--img"></i>img </span>,
            <span><i class="icon-file icon-file--xls"></i>excel </span>,
            <span><i class="icon-file icon-file--hwp"></i>hwp </span>,
            <span><i class="icon-file icon-file--pdf"></i>pdf </span>,
            <span><i class="icon-file icon-file--ppt"></i>ppt </span>,
            <span><i class="icon-file icon-file--doc"></i>word </span>,
            <span><i class="icon-file icon-file--zip"></i>zip </span>,
            <span><i class="icon-file icon-file--etc"></i>etc </span>,
            <span><i class="icon-file icon-file--link"></i>link</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "GuideInfo",
  methods: {
    copyColor(event) {
      const chip = event.currentTarget;
      const code = chip.querySelector("input");
      code.select();
      document.execCommand("copy");
    },
  },
};
</script>
