<template>
  <header class="guide-header">
    <h1 class="guide-header__logo"><router-link to="/">GUIDE</router-link></h1>
    <nav class="guide-header__nav">
      <router-link to="/guide/list">FILELIST</router-link>
      <router-link to="/guide/layout">LAYOUT</router-link>
      <router-link to="/guide/comp">COMP</router-link>
    </nav>
  </header>
  <div class="guide-container">
    <router-view name="sub"></router-view>
  </div>
</template>

<script>
export default {
  name: "GuideIndex",
  mounted() {
    document.body.classList.add("guide-body");
  },
  unmounted() {
    document.body.classList.remove("guide-body");
  },
};
</script>

<style lang="scss">
.guide {
  &-body {
    background: #0d1117;
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: transparent;
      &-thumb {
        background: #30363d;
        border-radius: 5px;
      }
    }
    .nav {
      position: fixed;
      top: 60px; left: 100%;
      z-index: 100;
      padding: 5px 10px;
      background: #161b22;
      border-radius: 8px 0 0 8px;
      border: 1px solid #30363d;
      border-right: 0;
      transform: translateX(-100%);
      &.hide {
        transform: translateX(0);
        > button:after {
          border-right: 8px solid #f0f6fc;
          border-left: 0;
        }
      }
      button {
        color: #f0f6fc;
        text-align: left;
        font-size: 12px;
        white-space: nowrap;
      }
      > button {
        position: absolute;
        top: 15px; right: 100%;
        margin-right: -1px;
        padding: 10px 5px;
        background: #161b22;
        border-radius: 8px 0 0 8px;
        border: 1px solid #30363d;
        border-right: 0;
        font-size: 0;
        &:after {
          content: "";
          display: block;
          border-left: 8px solid #f0f6fc;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }
      }
      div {
        button {width: 100%;}
      }

    }
  }
  &-header {
    display: flex;
    align-items: center;
    background: #161b22;
    color: #f0f6fc;

    &__logo {
      padding: 15px 30px 15px 20px;
      font-size: 20px;
    }
    &__nav a {
      position: relative;
      display: inline-block;
      margin-right: 20px;
      font-size: 14px;
      &.router-link-active:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid;
      }
    }
  }

  &-container {
    padding: 15px;
  }
  &-list {
    > section ~ section {
      margin-top: 25px;
    }
    .fold {
      .guide-table {
        height: 0;
        overflow: hidden;
      }
      .btnFold:after {
        transform: rotate(180deg);
      }
    }
  }
  &-subTit {
    position: relative;
    margin: 0 0 10px;
    color: #f0f6fc;
    font-size: 16px;
    .btnFold {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 0;
      &:after {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        border-top: 8px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }
  }
  &-sample__wrap {
    padding: 15px;
    background: #fff;
  }
  &-table {
    border-top: 1px solid #30363d;
    text-align: left;
    th,
    td {
      padding: 5px 10px;
      border-bottom: 1px solid #30363d;
      color: #c9d1d9;
      font-size: 11px;
    }
    th {
      background: #21262d;
    }
    tbody tr:hover {
      background: #161b22;
    }
    td .mo {
      ~ img {
        display: none;
        position: fixed;
        z-index: 2;
        left: 20px;
        bottom: 20px;
      }
      &:hover ~ img {
        display: block;
      }
    }
    .colorChip {
      display: inline-block;
      width: 60px;
      vertical-align: top;
      span {
        display: block;
        height: 50px;
        border: 1px solid #30363d;
      }
      input {
        border: 0;
        background: none;
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
  }
}
</style>
