<template>
  <div class="guide-list">
    <section v-for="(row, idx) in list" :key="idx">
      <h2 class="guide-subTit">{{ row.title }} <button type="button" class="btnFold" @click="fold()">접기</button></h2>
      <div class="guide-table">
        <table>
          <thead>
            <tr>
              <th scope="col">1depth</th>
              <th scope="col">2depth</th>
              <th scope="col">3depth</th>
              <th scope="col">4depth</th>
              <th scope="col">link</th>
              <th scope="col">etc</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(tr, idx) in row.sub" :key="idx">
              <td>{{ tr.depth1 }}</td>
              <td>{{ tr.depth2 }}</td>
              <td>{{ tr.depth3 }}</td>
              <td>{{ tr.depth4 }}</td>
              <td>
                <template v-if="tr.link">
                  <a :href="tr.link" class="mo" target="_blank">{{ tr.fileName }}</a>
                </template>
                <template v-if="tr.layer">
                  <button type="button" @click="tr.layer">{{ tr.fileName }}</button>
                </template>
              </td>
              <td>
                <template v-if="tr.etc">
                  <div v-html="tr.etc"></div>
                </template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</template>

<script>
// import { setCookie, getCookie } from "@/assets/js/ui.js";

export default {
  name: "GuideList",
  data() {
    return {
      list: [
        {
          title: "cate1",
          sub: [
            {
              depth1: "Page",
              link: "page",
              fileName: "page.vue",
              // etc: '<p>asdf</p>'
            },
          ],
        },
        {
          title: "cate2",
          sub: [
            {
              depth1: "Page",
              link: "/page",
              fileName: "page.vue",
            },
          ],
        }
      ]
    };
  },
  mounted() {
    this.qrSet();
    // let secStateCookie = getCookie("fileList");
    // if (secStateCookie) {
    //   let secState = secStateCookie.split(",");
    //   let sec = document.querySelectorAll(".guide-list section");
    //   secState.forEach((_this, idx) => {
    //     if (_this === "hide") sec[idx].classList.add("fold");
    //   });
    // }
  },
  methods: {
    qrSet() {
      let qrImg;
      const qrMake = url => {
        let googleQr = "https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=" + url + "&choe=UTF-8";
        qrImg = document.createElement("img");
        qrImg.src = googleQr;
        qrImg.style.cssText = "width:150px;height:150px;";
      };
      const links = document.querySelectorAll(".mo");
      links.forEach(link => {
        qrMake(link.href);
        link.insertAdjacentElement("afterend", qrImg);
      });
    },
    fold() {
      let _this = event.currentTarget;
      let wrap = _this.parentNode.parentNode;
      wrap.classList.toggle("fold");

      let secState = [];
      document.querySelectorAll(".guide-list section").forEach(_this => {
        _this.classList.contains("fold") ? secState.push("hide") : secState.push("show");
      });
      // setCookie("fileList", secState, 1);
    },
  },
};
</script>